{% extends 'partials/base.html' %}
{% block title%}IzzyTech Graphics{% endblock title %}

{% block content %}

<section id="message" class="p5">
    <div class="container container-fluid" id="message">
        <h2 class="text-center my-4 pt-5">About Us</h2>
            <div class="card my-3 shadow">
            <div class="container p-3 lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, alias soluta. Beatae tenetur, aute
                m soluta labore cumque voluptas pariatur ipsam eius quae a consectetur, blanditiis iste? Facere hic 
                consectetur eos nam accusamus cupiditate laudantium recusandae? Odio facilis laborum iste exercitationem at fu
                ga aperiam voluptatem eos eaque praesentium quis fugit, accusantium adipisci nesciunt, vel ev
                eniet reiciendis omnis inventore et cumque illum! Laudantium cumque deserunt non obcaecati assumenda incidunt
                 architecto ipsum nam molestias. Nostrum enim, nulla aute
                m veniam ipsum sit facere et porro aliquam sapiente a. Perferendis praesentium distinctio soluta quaerat libero?
                <br>
                <br>
            </div>
            </div>            
    </div>
  </section>

{% endblock content %}