{% extends 'partials/base.html' %}
{% block title%}Adullam Tech{% endblock title %}

{% block content %}

<section id="message" class="p5">
    <div class="container container-fluid" id="message">
        <h2 class="text-center my-4 pt-5">Contact Us</h2><br>
            <div class="card my-3 shadow">
                <section class="bg-dark text-light">
                    <div class="bg-dark lead">
                        <div class="row g-4">
                            <div class="col-md p-3">
                                <br>
                                <ul>
                                    <li class="list-group-item">
                                        <span class="fw-bold">Main Location:      </span> Federal Port Housing Road, Nigeria.
                                    </li>
                                    <hr>
                                    <li class="list-group-item">
                                        <span class="fw-bold">Phone:      </span> +2347033947599
                                    </li>
                                    <hr>
                                    <li class="list-group-item">
                                        <span class="fw-bold">Alternate Phone:      </span> +23480684974849
                                    </li>
                                    <hr>
                                    <li class="list-group-item">
                                        <span class="fw-bold">Email:      </span> michaelizzy2@gmail.com
                                    </li>
                                    <hr>
                                </ul>
                                <br>
                                <h2 class="text-center mb-4">Social Handles</h2>
                                <div class="text-center">
                                      <a href=""><i class="bi bi-twitter text-light mx-1"></i></a>
                                      <a href=""><i class="bi bi-facebook text-light mx-1"></i></a>
                                      <a href=""><i class="bi bi-linkedin text-light mx-1"></i></a>
                                      <a href=""><i class="bi bi-whatsapp text-light mx-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                  </section>
            </div> 
    </div>
    <div class="container text-center">
        <a href="{% url 'index' %}" class="text-center">Home</a>
    </div>
    <p></p>
  </section>

{% endblock content %}